
.hero-body{
  margin-left: 197px;
  margin-top: 248.15px;
}
.vector1 img{
width: 95.763px;
height: 13.59px;
flex-shrink: 0;
stroke-width: 5.224px;
stroke: #DF6951;
}
.p-tag p{
width: 555.178px;
height: 235.879px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 50.506px;
font-style: normal;
font-weight: 700;
line-height: 67.908px; /* 116.071% */
line-height: 55px;
}
.rectangle2{
margin-top: -40px;
width: 769.496px;
height: 68.455px;
flex-shrink: 0;
border-radius: 5.224px;
background: rgba(243, 243, 243, 0.60);
backdrop-filter: blur(17.760618209838867px);
display: flex;
justify-content: center;
text-align: center;
}

