
.hero-body{
  margin-left: 197px;
  margin-top: 248.15px;
}
.vector1 img{
width: 95.763px;
height: 13.59px;
flex-shrink: 0;
stroke-width: 5.224px;
stroke: #DF6951;
}
.p-tag p{
width: 601.178px;
height: 235.879px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 50.506px;
font-style: normal;
font-weight: 700;
line-height: 67.908px; /* 116.071% */
line-height: 55px;
}

